// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.table {
    display: table;
}

.tr {
    display: table-row;
}

.td {
    display: table-cell;
    padding: 5px;
}

@media (min-width: 768px) {
    .col-md-8 {
        min-width: 100%;
    }

    .modal-dialog {
        min-width: 576px;
    }
}

#cashflow_page {

    select {
        max-width: fit-content;
        min-width: 200px;
    }

    .filter {
        span, select {
            display: inline-block;
        }
        span {
            width: 20%;
            text-align: left;
        }
        span + select {
            margin: 0 6% 0 4%;
        }
        margin-bottom: 5px;
    }
}

#transactions_page .modal-body {
    form {
        margin: 0 auto;
    }

    label, select {
        display: inline-block;
    }

    label {
        width: 20%;
        text-align: left;
    }

    label + select, label + input {
        margin: 0 6% 0 4%;
    }

    select {
        width: 60%;
    }
}

#project_list_page .modal-content {
    label, input {
        display: inline-block;
    }

    label {
        width: 30%;
        text-align: left;
    }

    label + input {
        margin: 0 6% 0 4%;
    }

    input {
        width: 40%;
    }

    #active {
        width: auto;
    }
}

#project_editor_page .modal-content {
    label, input {
        display: inline-block;
    }

    label {
        width: 30%;
        text-align: left;
    }

    label + input {
        margin: 0 6% 0 4%;
    }

    input {
        width: 50%;
    }

    .form_main {
        padding-bottom: 20px;
    }

    .form_actuals {
        padding-bottom: 20px;
        padding-top: 20px;
        border-top: 1px solid black;
    }

    .form_final {
        padding-bottom: 20px;
        padding-top: 20px;
        border-top: 1px solid black;
    }

    #final {
        width: fit-content;
    }
}

#project_editor_page {
    #filter_final {
        max-width: fit-content;
    }

    #aggregates {
        .agg {
            font-weight: bold;
        }
    }
}

#manage_users_page {
    select {
        max-width: fit-content;
    }

    .table {
        max-width: 600px;
    }
}

.card-body {
    overflow: auto;
}
